Language: Cpp
BasedOnStyle: Google

# Custom preferences
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortEnumsOnASingleLine: false
AlignEscapedNewlines: Left
AllowShortFunctionsOnASingleLine: Inline
BraceWrapping:
  AfterFunction: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BinPackParameters: false
BreakBeforeBraces: WebKit
ColumnLimit: 90
ReflowComments:  true
Standard: c++17
