Checks:
  - abseil-*
  - cert-*
  - clang-analyzer-*
  - cppcoreguidelines-*
  - misc-*
  - -misc-non-private-member-variables-in-classes
  - -misc-include-cleaner
  - modernize-*
  - -modernize-use-trailing-return-type
  - -modernize-use-nodiscard
  - performance-*
  - readability-*
  - -readability-identifier-length'
WarningsAsErrors: true
HeaderFilterRegex: 'inc/*.hpp'
FormatStyle: file
